.Login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/844297/pexels-photo-844297.jpeg?cs=srgb&dl=pexels-eberhard-grossgasteiger-844297.jpg&fm=jpg");
  background-size: fill;
}

.loginTitle {
  font-size: 50px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.loginForm > label {
  margin: 10px 0;
}

.loginForm > input {
  background-color: white;
  padding: 10px;
  border: none;
  border-radius: 20px;
}

.loginbtn {
  width: 150px;
  align-self: center;
  border: none;
  border-radius: 20px;
  color: whitesmoke;
  background-color: rgb(67, 77, 73);
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
}

.loginButton:disabled {
  cursor: not-allowed;
  background-color: rgb(252, 173, 173);
}

.Registerbtn {
  width: 150px;
  position: absolute;
  top: 60px;
  right: 20px;
  align-self: center;
  border: none;
  color: whitesmoke;
  background-color: rgb(67, 77, 73);
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
  opacity: 0.8;
}
