.write {
  padding-top: 50px;
}

.writeForm {
  position: relative;
}
.formGroup {
  margin-left: 150px;
  display: flex;
  align-items: center;
}
.writeImg {
  margin-left: 150px;
  width: 70vw;
  border-radius: 10px;
  object-fit: cover;
  height: 250px;
}
.writeFile {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  border: 1px solid;
  font-size: 20px;
  cursor: pointer;
  color: grey;
  justify-content: center;
}

.writeInput {
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 70vw;
}

.writeInput:focus {
  outline: none;
}

.writeText {
  font-size: 20px;
  height: 100vh;
}

.submit {
  position: absolute;
  right: 50px;
  top: 20px;
  color: whitesmoke;
  background-color: rgb(67, 77, 73);
  border: none;
  border-radius: 10px;
  font-size: 16px;
}
